{% extends "base_generic.html" %}

{% block title %}
<title>Образование</title>
{% endblock %}

{% block content %}
    <form action="{% url 'education' %}" method="POST" class="container mt-5">
        {% csrf_token %}
        <h3>Добавить университет/спо</h3>
        {% for field in form %}
            <div class="form-group row">
                <div class="col-sm-10">
                        {{ field.label }}
                        {{ field }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Добавить" class="btn btn-primary mt-2">
    </form>
<hr>
    <form action="{% url 'add_group' %}" method="POST" class="container mt-5">
        {% csrf_token %}
        <h3>Добавить группу</h3>
        {% for field in g_form %}
            <div class="form-group row">
                <div class="col-sm-10">
                        {{ field.label }}
                        {{ field }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Добавить" class="btn btn-primary mt-2">
    </form>
<hr>

    {% for college in colleges %}
      <div class="my-3 p-3 bg-white rounded box-shadow container">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{ college.title }}</h6>
          {% for spec in college.specialty_set.all %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{ spec.title }}</strong>
                  {% for group in spec.group_set.all %}
                      <strong class="d-block text-gray-dark">{{ group.title }}</strong>
                      {% for student in group.job_set.all %}
                        <a href="{% url 'student_detail' pk=student.id %}"> {{ student.fio }} </a> <br>
                      {% endfor %}
                  {% endfor %}
              </p>
            </div>
          {% endfor %}

        <small class="d-block mt-3">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{college.id}}" aria-expanded="false">
                Добавить специальность
            </button>
            <div class="collapse w-25 mt-3" id="collapse{{college.id}}" style="border: 1px solid gray; border-radius: 10px; padding-bottom: 2em;">
                <form action="{% url 'specialty' %}" method="POST" class="container mt-5">
                    {% csrf_token %}
                    <label for="title">Код и название специальности</label>
                    <input type="text" name="title" class="form-control" placeholder="11.11.11 Специальность"/>
                    <input type="hidden" name="college" value="{{ college.id }}"/>
                </form>
            </div>
        </small>
      </div>
    {% endfor %}
{% endblock %}