{% extends "base_generic.html" %}

{% block title %}
<title>{{ person.fio }}</title>
{% endblock %}

{% block content %}

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
    <div class="col-md-5 mx-auto">
      <h1 class="display-4 font-weight-normal">{{ person.fio }}</h1>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Дата рождения:</p> {{ person.release_year }}</p>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Шифр / Наименование специальности:</p> {{ person.code }}</p>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Бюджет / Внебюджет:</p> {{ person.budget }}</p>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Место прохождения первой практики:</p> {{ person.practice_one }}</p>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Место прохождения второй практики:</p> {{ person.practice_two }}</p>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Занятость:</p> {{ person.employment }}</p>
      <a class="lead font-weight-normal"><p class="lead font-weight-bold">Email:</p> <a href="mailto:{{ person.email }}" class="text-reset">{{ person.email }}</a></a>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Номер телефона:</p> <a href="tel:{{ person.phone_number }}" class="text-reset">{{ person.phone_number }}</a></p>
      <p class="lead font-weight-normal"><p class="lead font-weight-bold">Образование:</p> {{ person.specialty }}</p>
    </div>
  </div>
  <hr>
  <div class="container">
    <h1 class="text-center">Текущая вакансия / добавить вакансию:</h1>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body" id="to_print_{{person.id}}">
              {% if not person.vacancy_st %}
              <h2>Умения:</h2>
              {% if person.skills_student_set.all %}
                  {% for skill in person.skills_student_set.all %}
                      <p>{{skill}}</p>
                  {% endfor %}
              {% else %}
              <p>Умений пока нету :)</p>
              {% endif %}
              <h2>Добавить умение</h2>
              <form action="{% url 'student_skills' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{person.id}}"/>
                  <input type="text" name="title" class="form-control"/>
              </form>

              {% if vacancy %}
              <h2>Вакансии:</h2>
                      {% for vac in vacancy %}
                          <h3 class="text-success">{{vac.title}}</h3>
                          <p>Умения для вакансии {{vac.title.lower}}:</p>
                          {% for skill in vac.skills_vacancy_set.all %}
                              <p>{{skill}}</p>
                          {% endfor %}
                      {% endfor %}
                          <h3>Выбор вакансии</h3>
                          <form action="{% url 'add_vacancy' %}" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="id_st" value="{{person.id}}"/>
                              <select name="vacancy" id="vacancy" class="form-control w-50">
                                <option value="Другое">Выбор вакансии</option>
                                  {% for vac in vacancy %}
                                <option value="{{vac.id}}">{{vac}}</option>
                                  {% endfor %}
                              </select>
                              <input type="submit" value="Добавить" class="btn btn-primary mt-2">
                          </form>
              {% endif %}
          </div>
          {% else %}
              <p>Вакансия: {{person.vacancy_st}}</p>
          {% endif %}
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
      <form action="{% url 'student_detail' pk=person.id %}" method="post" class="container mt-5">
        {% csrf_token %}
        <h2>Добавить звонок</h2>
        <input type="datetime-local" name="call_time" class="form-control mt-1" placeholder="Дата звонка">
        <textarea name="comment" cols="30" rows="10" class="form-control mt-3" placeholder="Комментарий к звонку (максимум 150 символов)"></textarea>
        <input type="submit" value="Добавить" class="btn btn-primary mt-2">
      </form>
  </div>
  {% if person.calls_set.count > 0 %}
    {% for call in person.calls_expired_status %}
        <div class="list-group container mb-3 mt-5">
          <div class="list-group-item active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-light"><a href="tel:{{ person.phone_number }}" class="mb-1 text-light">{{ person.phone_number }}</a> ({{call.call_time.time}})</h5>
              <small class="text-light">{{call.call_time.date}}</small>
            </div>
            <p class="mb-1">{{call.comment}}</p>
            <form action="{% url 'calls_cancle' pk=call.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" value="Завершён" name="status">
              <input type="submit" value="Завершить" class="btn btn-danger mt-2">
            </form>
          </div>
        </div>
    {% endfor %}
    <hr>
      {% for call in person.calls_not_expired_status %}
            <div class="list-group container mb-3" style="word-wrap: break-word;">
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <a href="tel:{{ person.phone_number }}"><h5 class="mb-1">{{ person.phone_number }}</h5></a>
                  <small class="text-primary">{{call.call_time}}</small>
                </div>
                <p class="mb-1">{{call.comment}}</p>
              </div>
            </div>
        {% endfor %}
  {% endif %}
{% endblock %}