<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <title>{{person.fio}}</title>
  </head>
  <body>

  <table class="container table mt-5" id="to_print">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Шифр / Наименование специальности</th>
        <th scope="col">Бюджет / Внебюджет</th>
        <th scope="col">Место прохождения первой практики</th>
        <th scope="col">Место прохождения второй практики</th>
        <th scope="col">Занятость</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>{{ person.fio }}</td>
        <td>{{ person.release_year }}</td>
        <td>{{ person.code }}</td>
        <td>{{ person.budget }}</td>
        <td>{{ person.practice_one }}</td>
        <td>{{ person.practice_two }}</td>
        <td>{{ person.employment }}</td>
    </tbody>
  </table>
  <hr>
  <div class="container">
      <form action="{% url 'student_detail' pk=person.id %}" method="post" class="container mt-5">
        {% csrf_token %}
        <h2>Добавить звонок</h2>
        <input type="datetime-local" name="call_time" class="form-control mt-1" placeholder="Дата звонка">
        <textarea name="comment" cols="30" rows="10" class="form-control mt-3" placeholder="Комментарий к звонку (максимум 150 символов)"></textarea>
        <input type="submit" value="Добавить" class="btn btn-primary mt-2">
      </form>
  </div>
  {% if person.calls_set.count > 0 %}
    {% for call in person.calls_set.all %}
      {% if call.status == 'Истёк' %}
        <div class="list-group container mb-3 mt-5">
          <div class="list-group-item active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Звонок ({{call.status}})</h5>
              <small class="text-warning">{{call.call_time}}</small>
            </div>
            <p class="mb-1">{{call.comment}}</p>
            <form action="{% url 'calls_cancle' pk=call.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" value="Завершён" name="status">
              <input type="submit" value="Завершить" class="btn btn-danger mt-2">
            </form>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <hr>
      {% for call in person.calls_set.all %}
          {% if call.status == 'В процессе' %}
            <div class="list-group container mb-3" style="word-wrap: break-word;">
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 w50">Звонок ({{call.status}})</h5>
                  <small>{{call.call_time}}</small>
                </div>
                <p class="mb-1">{{call.comment}}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
    <hr>
    {% for call in person.calls_set.all %}
      {% if call.status == 'Завершён' %}
        <div class="list-group container mb-3">
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Звонок ({{call.status}})</h5>
              <small>{{call.call_time}}</small>
            </div>
            <p class="mb-1">{{call.comment}}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>